*{margin: 0; padding: 0;}

.principal{
    width: 100%;
}

.header{
    text-align: center;
    background-color: rgb(138, 76, 153 );
}
h1{
    font-family: 'Fascinate Inline', cursive;
    font-size: 50px;
}
h4{
padding: 10px;
}
.parrafos{
    width: 100%;
    text-align: center;
    background-color: rgb(212, 195, 216);
}

p{
    font-size: 20px;
    padding: 10px;
}
